[submodule "Universidad-2025/Progracion-Orientado-Objeto/TPobligatorio"]
	path = Universidad-2025/Progracion-Orientado-Objeto/TPobligatorio
	url = https://github.com/JRproyects/SimulacroPrimerParcial2025.git
